.home-styled {

    h1, h2 {
        font-weight: 500;
    }

    section {
        margin-top: 50px;

        h2 {
            margin-bottom: 25px;
        }
    }

    .stats {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;

        .item {
            padding: 120px 25px 20px 25px;
            border-radius: var(--border-3);

            p {
                margin-bottom: 10px;
            }

            span {
                font-size: xx-large;
                font-weight: 500;
            }

            &:nth-child(1) {
                color: var(--black-0);
                background: var(--gradient-5);
            }

            &:nth-child(2) {
                background: var(--gradient-6);
            }
        }
    }
}